pkgbase = openwork
	pkgdesc = An Open source alternative to Claude Cowork
	pkgver = 0.11.17
	pkgrel = 1
	url = https://github.com/different-ai/openwork
	arch = x86_64
	license = MIT
	depends = gtk3
	depends = glib2
	depends = libayatana-appindicator
	depends = libsoup3
	depends = webkit2gtk-4.1
	depends = openssl
	depends = dbus
	depends = librsvg
	noextract = openwork-0.11.17.deb
	source = openwork-0.11.17.deb::https://github.com/different-ai/openwork/releases/download/v0.11.17/openwork-desktop-linux-amd64.deb
	sha256sums = 7c2113f6bbfbe9967a8dbfdc308096e5687f256560d3074f6d3eec34e5d663b1

pkgname = openwork
