pkgbase = openwork
	pkgdesc = An Open source alternative to Claude Cowork
	pkgver = 0.11.100
	pkgrel = 1
	url = https://github.com/different-ai/openwork
	arch = x86_64
	arch = aarch64
	license = MIT
	depends = gtk3
	depends = glib2
	depends = libayatana-appindicator
	depends = libsoup3
	depends = webkit2gtk-4.1
	depends = openssl
	depends = dbus
	depends = librsvg
	noextract = openwork-0.11.100.deb
	source_x86_64 = openwork-0.11.100.deb::https://github.com/different-ai/openwork/releases/download/v0.11.100/openwork-desktop-linux-amd64.deb
	sha256sums_x86_64 = 0aab4121c81f071a08c5da40a7be4717fe81b3d7c39e9212f70eff6fb5b38a48
	source_aarch64 = openwork-0.11.100.deb::https://github.com/different-ai/openwork/releases/download/v0.11.100/openwork-desktop-linux-arm64.deb
	sha256sums_aarch64 = 174c820483a0b90b7a434c9f81062dee9b35bf9309594d4119f6613319aa4faf

pkgname = openwork
