pkgbase = openwork
	pkgdesc = An Open source alternative to Claude Cowork
	pkgver = 0.11.114
	pkgrel = 1
	url = https://github.com/different-ai/openwork
	arch = x86_64
	arch = aarch64
	license = MIT
	depends = gtk3
	depends = glib2
	depends = libayatana-appindicator
	depends = libsoup3
	depends = webkit2gtk-4.1
	depends = openssl
	depends = dbus
	depends = librsvg
	noextract = openwork-0.11.114.deb
	source_x86_64 = openwork-0.11.114.deb::https://github.com/different-ai/openwork/releases/download/v0.11.114/openwork-desktop-linux-amd64.deb
	sha256sums_x86_64 = 9e873357ad3d57b4c9f5824116a37f4027fdce29b1d95d0bea2a517fcc31380c
	source_aarch64 = openwork-0.11.114.deb::https://github.com/different-ai/openwork/releases/download/v0.11.114/openwork-desktop-linux-arm64.deb
	sha256sums_aarch64 = 3063e7a88775f063848c92e4cee4336554ac42a7c6eceab2e3843dfa1f4799e7

pkgname = openwork
